@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: rgb(238, 174, 202);

  background: rgb(238, 174, 202);
  background: linear-gradient(
    43deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.stopwatch {
  letter-spacing: 7px;
  font-size: 90px;
  text-align: center;

  margin-bottom: 40px;
  text-transform: uppercase;
}

.seconds {
  color: white;
  position: relative;
}
.seconds::before {
  content: "seconds";
  color: white;
  left: -70px;
  font-size: 12px;
  position: absolute;
  top: 30px;
  letter-spacing: 1px;
}

.tens {
  color: white;
  position: relative;
}
.tens::after {
  content: "milliseconds";
  color: white;
  font-size: 12px;
  position: absolute;

  top: 77px;
  letter-spacing: 1px;
}
.btn {
  margin: 10px;
  padding: 13px 30px;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  color: #20d5fd;
}
